<!DOCTYPE html>
<html>
<head>
    <title>Training Program Courses</title>
</head>
<body>
    <h1>Phân kỳ môn học</h1>

    <form id="tpcForm">
        <input type="text" id="course_id" placeholder="Course ID">
        <input type="number" id="semester" placeholder="Học kỳ">
        <input type="number" id="year" placeholder="Năm học">
        <button type="submit">Thêm</button>
    </form>

    <table border="1">
        <!-- <thead>
            <tr>
                <th>Course ID</th>
                <th>Semester</th>
                <th>Year</th>
            </tr>
        </thead> -->
        <tbody id="tpcTable"></tbody>
    </table>
    <script src="/js/training_program_courses.js"></script>
</body>
</html>